.container-lg {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1366px) {
        max-width: 1200px;
    }

    @media (min-width: 1440px) {
        max-width: 1315px;
    }

    @media (min-width: 1660px) {
        max-width: 1440px;
    }

    @media (min-width: 1920px) {
        max-width: 1770px;
    }
}

// Normal Container
.container {
    // max-width: 1680px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: border-box;

    // box-sizing: border-box;
    @media (min-width: 576px) {
        max-width: 570px;
        padding: 0 15px;
    }

    @media (min-width: 768px) {
        max-width: 750px;
    }

    @media (min-width: 992px) {
        max-width: 990px;
    }

    @media (min-width: 1200px) {
        max-width: 1170px;
    }

    @media (min-width: 1400px) {
        max-width: 1270px;
    }

    @media (min-width: 1600px) {
        max-width: 1366px;
    }

    @media (min-width: 1920px) {
        max-width: 1480px;
    }
}



.container-md {
    width: 80%;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: border-box;

    @media (min-width: 576px) {
        max-width: 550px;
        padding: 0 15px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 950px;
    }

    @media (min-width: 1200px) {
        max-width: 1150px;
    }

    @media (min-width: 1400px) {
        max-width: 1250px;
    }

    @media (min-width: 1600px) {
        max-width: 1350px;
    }

    @media (min-width: 1920px) {
        max-width: 1450px;
    }
}

