.upcoming_events {
    padding-top: clamp(66px, 12vw, 124px);
    position: relative;
    overflow: hidden;

    .upcoming_events__container {
        display: flex;
        flex-direction: column;
        gap: clamp(125px, 15.5vw, 200px);

        .item {
            position: relative;
            width: min(100%, 1222px);
            margin-inline: auto;
            padding-bottom: clamp(30px, 10vw, 100px);

            .section__heading-content {
                position: relative;

                .background-color {
                    background-color: #fff;
                    padding: clamp(10px, 2.5vw, 20px);
                    position: relative;
                    .events_heading {
                        .event_Title {
                            font-size: clamp(20px, 4vw, 70px);
                        }
                    }
                }
                .subTitle {
                    padding-bottom: clamp(0px, 1.5vw, 30px);
                    font-family: var(--font-regular);
                    font-size: clamp(14px, 2vw, 25px);
                    color: #f69d1d;
                    display: flex;
                    gap: clamp(12px, 2.5vw, 30px);
                    justify-content: center;
                    @media (max-width: 1660px) {
                        padding-bottom: clamp(0px, 1vw, 30px);
                    }
                    @media (max-width: 1366px) {
                        padding-bottom: clamp(0px, 0.5vw, 30px);
                    }
                }
                &:after {
                    position: absolute;
                    background: url("/images/homepage/course__bg-art.png");
                    content: "";
                    left: 50%;
                    transform: translate(-50%, -118px);
                    z-index: -1;
                    aspect-ratio: 6.41/1;
                    width: 60vw;
                    height: clamp(100px, 10vw, 182px);
                    background-size: contain;
                    @media (max-width: 1660px) {
                        transform: translate(-50%, -80px);
                    }
                    @media (max-width: 768px) {
                        transform: translate(-50%, -60px);
                    }
                    @media (max-width: 576px) {
                        width: 80vw;
                    }
                    @media (max-width: 420px) {
                        width: 85vw;
                    }
                }
            }
            .content__container {
                padding-top: clamp(8px, 6vw, 70px);
                font-size: clamp(10px, 2vw, 25px);
                line-height: calc(40 / 25);
                text-align: center;
                a {
                    color: #f69d1d;
                    transition: color 0.25s linear;
                    &:hover {
                        color: var(--color-btn);
                    }
                }
            }
        }
    }
}
